<ng-container *ngIf="eventWithMarkets | async as event">
    <div class="jumbotron p-3 mb-3">
        <h3>{{ event.details.name }}</h3>
        <h6 class="mb-2 text-muted">{{ toUserDate(event.data.start_datetime) }}</h6>
        <p *ngIf="event.data.description as desc">{{ desc }}</p>
        <hr>
        <div class="d-flex">
            <div class="flex-grow-1 font-italic text-truncate"><i class="fas fa-hashtag"></i> <span>{{ event.details.type }}</span></div>
            <div><span>{{ event.details.state }}</span></div>
        </div>
    </div>
    <div *ngIf="event.data.markets as markets">
        <div *ngFor="let market of markets; trackBy trackByMarketId;" class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">{{ market.name }}</h3>
                <h6 class="mb-4 text-muted">Traded: {{ market.volume || 0 | currency:'GBP' }}</h6>
                <div>
                    <span class="float-left mb-3 mr-3 badge badge-secondary p-2">{{ market.winner_count }} Winner(s)</span>
                    <span class="float-left mb-3 mr-3 badge badge-secondary p-2">{{ market.bet_delay ? (market.bet_delay + 's') : 'no' }} bet delay</span>
                    <span class="float-left mb-3 mr-3 badge badge-secondary p-2">{{ market.state }}</span>
                    <span class="float-left mb-3 mr-3 badge badge-secondary p-2">in-play {{ market.inplay_enabled ? 'en' : 'dis' }}abled</span>
                </div>
            </div>
        </div>
    </div>
</ng-container>