<div class="shadow-sm p-3 mb-5 bg-light rounded">
  <div class="d-flex">
    <div class="flex-grow-1 font-weight-bold font-italic text-truncate"><i class="fas fa-hashtag"></i> <span>{{ eventDetails.type }}</span></div>
    <div><span class="font-weight-bold">{{ eventDetails.state }}</span></div>
  </div>
  <hr>
  <a class="text-dark" [routerLink]="['/event-info', eventDetails.id]">
    <h2>{{ eventDetails.name }}</h2>
  </a>
</div>