<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/popular-events">
    <img src="/assets/logo.svg" width="30" height="30" alt="">
    Popular Events Angular
  </a>
</nav>
<div class="container">
  <app-loading-inticator *ngIf="isLoading | async"></app-loading-inticator>
  <router-outlet></router-outlet>
</div>
